body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}



body{
  margin: 0;
  background-color:hsla(30, 21%, 78%, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align:center;
}

h1{
  margin: 0;
  margin-bottom: .5rem;
}

ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #f9f1e65a;
  border-radius: 5rem;
  list-style: none;
  flex-wrap: wrap;
  padding: 5rem;
  height: auto;
  width: auto;
}

li
 {
  display:flex;
  flex-direction: column;
  padding: .5;
  margin: 1rem;
  min-width: 220px;
  border-radius: 1rem;
  padding: 20px;
}

li.true {
  background-color: #5aae5a;
}

li.false {
 background-color: rgba(130, 175, 194, 0.3);
}

form{
  display: flex center;
  flex-direction: row;
  border-radius: 1rem;
  margin: 3rem;
  padding:1rem;
  background-color: hsla(35, 61%, 94%, 0.3);
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;

}